{% layout "layout.liquid" %} {% block content %}

    <a href="/pokemon/new"><button>Add new Pokemon!</button></a>

    <div class="container-grid3x">
        {%for pokemon in pokemonList%}
        <div class="container-flex pokemon-index">
            <h1>{{pokemon.name}}</h1>
            <a class="img-wrap" href="/pokemon/{{ forloop.index0 }}"><img src="{{pokemon.img}}" alt=""></a>
            <h4>Types: {{pokemon.type | join: ", " }}</h4>
        </div>

        {% endfor%}
    </div>
    {% endblock %}