{% layout "layout.liquid" %} {% block content %}

<a href="/pokemon"><button>Go back to Pokedex</button></a>
<br />
<form action="/pokemon" method="POST">
    <h1>Create New Pokemon!</h1>
    <h3>Name:</h3>
    <input type="text" name="name" id="" placeholder="">
    <h3>Image:</h3>
    <input type="text" name="img" id="" placeholder="">
    <h3>Types:</h3>
    <input type="text" name="type" id="">
    <h3>HP:</h3>
    <input type="object" name="hp" id="">
    <h3>Attack:</h3>
    <input type="object" name="attack" id="">
    <h3>Defense:</h3>
    <input type="object" name="defense" id="">
    <br />
    <input type="submit" value="Create this Pokemon!">
</form>
{% endblock %}