{% layout "layout.liquid" %} {% block content %}
    <h1>Pokemon individual show page goes here</h1>
    <h2>Edit pokemon button goes here</h2>
    <h2>Delete pokemon button goes here</h2>
    <a href="/pokemon"><button>Go back to Pokedex</button></a>
    {% endblock %}