<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokedex Show Page</title>
        <link rel="stylesheet" href="/app.css">
        <link rel="stylesheet" href="/skeleton.css">
        <link rel="stylesheet" href="/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="nav">
            <h1>Pokemon Manager</h1>
        <button class="btn-nav" onclick=location.href="/pokemon/">Home</button>
        <button class="btn-nav" onclick=location.href="/pokemon/new">Add new Pokemon</button>
        </nav>
        <h1>Edit {{ data.name}}</h1>
        <form action="/pokemon/{{index}}?_method=PUT" method="POST">
            <input type="text" name="name" placeholder="Name of Pokemon..">
            <input type="text" name="type" placeholder="Type of Pokemon..">
            <input type="text" name='img' value="{{data.img}}" placeholder="URL of Image of pokemon">
            {% comment %} Enter Stats:
            <input type="text" name="hp" placeholder="HP">
            <input type="text" name="attack" placeholder="Attack">
            <input type="text" name="defense" placeholder="Defense">
            <input type="text" name="speed" placeholder="Speed"> {% endcomment %}
            <input type="submit" value="Edit {{ data.name}}">
        
        
        </form>

        
    </body>
</html>