<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pokemon</title>
</head>

<body>
    <h1>Edit {{ data.name }}</h1>
    <form action="/pokemon" method="post">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="type1" placeholder="Type 1"><br>
        <input type="text" name="type2" placeholder="Type 2 (optional)"><br>
        <input type="text" name="hp" placeholder="HP Stat"><br>
        <input type="text" name="attack" placeholder="Attack Stat"><br>
        <input type="text" name="defense" placeholder="Defense Stat"><br>
        <input type="submit" value="Add to Pokedex">
    </form>
</body>

</html>