<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Pokedex</title>
</head>

<body>
    <div class="style">
    <h1>Pokedex</h1>
    <form action="/new">
        <input type="submit" value="Add Pokemon">
    </form>
    <ul>
        {% for pokemonItem in PokemonList%}
        <li><a href="/{{forloop.index0}}">{{pokemonItem.name}}</a></li>
        {% endfor %}
    </ul>
</div>
</body>

</html> 