<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&family=Vast+Shadow&display=swap" rel="stylesheet">
		<title>Pokedex</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&family=Vast+Shadow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/app.css">
	</head>
	<body>
        <div class="top">
		<h1>Pokédex</h1>
    </div>
    <div>
        
        <a href="/pokemon/new">
            <input type="button" id="addbtn" name="new" value="Add">
        </a>     
        
    
    </div>
    
    
    
		<div class="gallery">
			{% for Pokemon in data limit: 21 %} 
            
			<a href="/pokemon/{{ forloop.index0 }}"><img src="{{ Pokemon.img }}" />
    
            {% endfor %}
		</div>
	</body>
</html>
