<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>

</head>
<body>
    <h1>Welcome to the Pokemon Center!</h1>
    {% for fruit in data %}
        <li>
            <a href="/fruits/{{
                forloop.index0}}">{{ fruit.name }} 
            </a> The {{fruit.name}} 
            {% if fruit.readyToEat == true %}
                 is ready to eat
            {% else %}
             is not ready to eat
            {% endif %}
        </li>
        {% endfor %}
</body>
</html>