<!doctype html>
<html>

<head>
    <style type="text/css">
        body {


            color: rgb(57, 57, 57);

        }

        .container {
            display: flexbox;

        }

        img {
            width: 100px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Pokedex</h1>
        <nav>
            <h2><a href="/pokemon/new">Add a New Pokemon!</a></h2>
        </nav>
        <ul id="pokes"> {%for pokemon in pokemonList%}
            <ul id="pokes">
                <a href="/pokemon/{{ forloop.index0 }}"><img src={{pokemon.img}}><br />
                    <h3>{{ pokemon.name }}</h3>
                </a>
                <form action="/pokemon/{{forloop.index0}}?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" /> <br/><br/><br/>
                </form>

            </ul>
            {%endfor%}

        </ul>
    </div>
</body>

</html>