<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Index!</title>
</head>
<body>
    <div class="container">
        {% for pokemons in pokemon limit:15 %}
        {{ pokemons.name }}
        <a href="pokemon/{{ forloop.index0 }}"><img src="{{ pokemons.img }}" /></a>
        {% endfor %}
    </div>
</body>
</html>