<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>

<body>
    <h1>Pokedex</h1>
    <ul>
        {% for pokemon in PokemonList%}
            <li><a href="/{{forloop.index0}}">{{pokemon.name}}</a></li>
            <form action="/{{forloop.index0}}?_method=DELETE" method="POST">
                <input type="submit" value="Delete {{pokemon.name}}">
            </form>
        {% endfor %}
    </ul>
    <form action="/new">
        <input type="submit" value="Add">
    </form>
</body>

</html>