<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>POKEDEX</h1>
    <ul>
        {% for pokemon in data %}
     <li>
        <a href="/pokedex/0 {{forloop.index0}}">
           {{pokemon.name|capitalize}}</a>
           <img src="{{pokemon.img}}">
           </li>
        {% endfor %}
    
    </ul>
    
</body>
</html>