<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Add Pokemon!</title>
</head>
<body>
    <h1 id="add">Add New Pokemon!</h1>

    <form action="/pokemon/" method="POST">
        <label for="">Name:
        <input type="text" name="name">
    </label>

        <label for="">Image:
        <input type="text" name="img">
    </label>

    <label for="">Type:
        <input type="text" name="type">
    </label>

    <label for="">HP:
        <input type="text" name="hp">
    </label>

        <label for="">Attack:
        <input type="text" name="attack">
    </label>

    <label for="">Defense:
        <input type="text" name="defense">
    </label>

            <br />
            <br />
        <input type="submit" name="" value="Submit Changes" />
    </form>

    
</body>
</html>