<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex</title>

    <style type="text/css">
        body {
            background-color: red;
            color: rgb(215, 247, 236);
            text-align: left;
            font-size: 18;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(9, auto);
            justify-items: center;
        }
    </style>
</head>

<body>
    <h1>Add a new Pokemon</h1>
    <div class="container">

        <form action="/pokemon" method="POST">
            ID: <input type="text" name="id" placeholder="Enter ID" /><br>
            Name: <input type="text" name="name" placeholder="Enter Name" /><br>
            Img: <input type="text" name="img" placeholder="Enter Img Link" /><br>
            Type: <input type="text" name="type" placeholder="Enter Type(s)" /><br>
            <br />
            Stats:
            <ul>
                <li>Hp:<input type="number" name="hp" placeholder="Enter HP" /></li>
                <li>Attack:<input type="number" name="attack" placeholder="Enter Attack power" /></li>
                <li>Defense:<input type="number" name="defense" placeholder="Enter Defense power" /></li>
                <li>Special Attack:<input type="number" name="spattack" placeholder="Enter Special Attack power" /></li>
                <li>Special Defense:<input type="number" name="spdefense" placeholder="Enter Special Defense power" />
                </li>
                <li>Speed:<input type="number" name="speed" placeholder="Enter Speed power" /></li>
            </ul>
            Damages:
            <ul>
                <li>Normal: <input type="text" name="normal" placeholder="Enter Normal damage power" /></li>
                <li>Fire: <input type="text" name="fire" placeholder="Enter Fire damage power" /></li>
                <li>Water: <input type="text" name="water" placeholder="Enter Water damage power" /></li>
                <li>Electric: <input type="text" name="electric" placeholder="Enter Electric damage power" /></li>
                <li>Grass: <input type="text" name="grass" placeholder="Enter Grass damage power" /></li>
                <li>Ice: <input type="text" name="ice" placeholder="Enter Ice damage power" /></li>
                <li>Fight: <input type="text" name="fight" placeholder="Enter Fight damage power" /></li>
                <li>Poison: <input type="text" name="poison" placeholder="Enter Poison damage power" /></li>
                <li>Ground: <input type="text" name="ground" placeholder="Enter Ground damage power" /></li>
                <li>Flying: <input type="text" name="flying" placeholder="Enter Flying damage power" /></li>
                <li>Psychic: <input type="text" name="psychic" placeholder="Enter Psychic damage power" /></li>
                <li>Bug: <input type="text" name="bug" placeholder="Enter Bug damage power" /></li>
                <li>Rock: <input type="text" name="rock" placeholder="Enter Rock damage power" /></li>
                <li>Ghost: <input type="text" name="ghost" placeholder="Enter Ghost damage power" /></li>
                <li>Dragon: <input type="text" name="dragon" placeholder="Enter Dragon damage power" /></li>
                <li>Dark: <input type="text" name="dark" placeholder="Enter Dark damage power" /></li>
                <li>Steel: <input type="text" name="steel" placeholder="Enter Steel damage power" /></li>
                <ul>
                    <br>
                    <br>
                <input type="submit" value="Create new Pokemon" />
        </form>
    </div>
</body>

</html>