<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
   </head>
<body>
    <h1>Create New Pokemon:</h1>
    <form action="/pokemon" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="img address" name="img">
        <input type="text" placeholder="type" name="type">
        <input type="text" placeholder="hp" name="hp">
        <input type="text" placeholder="attack" name="attack">
        <input type="text" placeholder="defense" name="defense">
        <a href="/pokemon"><input type="submit" value="create" ></a>
    </form>
</body>
</html>