<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/app.css">
    <title>Document</title>
</head>
<body>
    <h1>Add A Discovered Pokemon</h1>
    <form action="/pokemon" method="post">
        Picture URL: <input type="text" name="img">
        <br>
        Name : <input type="text" name="name">
        <br>
        ID # : <input type="text" name="id">
        <br>
        Height : <input type="text" name="height">
        <br>
        Weight : <input type="text" name="weight">
        <br>
        Type: <input type="text" name="type">
        <input type="submit" value="Add Pokemon">
    </form>
</body>
</html>