<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="navBar">
      <h1>Pokemon Manager</h1>
      <div class="home-button-container">
        <form action="/pokemon">
          <input type="submit" value="Home" class="navInput" />
        </form>
      </div>
    </div>

    <h1>New Pokemon page</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <form action="/pokemon" method="POST">
      <div class="form-row-container">
        Name: <input type="text" name="name" placeholder="  name" /><br />
      </div>
      <div class="form-row-container">
        Type: <input type="text" name="type" placeholder="  type" /><br />
      </div>
      <div class="form-row-container">
        Image:
        <input type="url" id="img" name="img" placeholder="  image url" /><br />
      </div>
      <div class="form-row-container">
        <input type="submit" value="Create Pokemon" />
      </div>
    </form>
  </body>
</html>
