<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    </head>
    <body>
        <h1>Create a New Pokemon</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/pokemon" method="POST">
            Name: <input type="text" name="name" placeholder="Charzard" /><br/>
            Type: <input type="text" name="type" placeholder="Grass, Poison"/><br/>
            Stats: <input type="text" name="stats" placeholder="hp, attack, defense..."/><br/>
            Photo (url): <input type="text" name="img" placeholder="http://...png"><br/>
            </br>
            <input type="submit" value="Create Pokemon"/>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html> 