:root {
    background-color: lightskyblue;
}

nav {
    background-color: green;
}

.pIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: lightgreen;

}

.card {
    height: 7rem;
    width: 7rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

img {
    width: 60%;
    height: auto;
    text-decoration: none;
}



/* to organize the show page  */
/* grid-template: 
            "a a a" 40px
            "b c c" 40px
            "b c c" 40px / 1fr 1fr 1fr; */


/* snap scroll if want to make one line to scroll through - check screenshot
.carousel {
    scroll-snap-type: x mandatory;
  }
  .carousel .item {
     scroll-snap-align: start;
  } */