{% layout "layout.liquid" %}
{% block headerTitle %}
<h1>Pokemon Box 1</h1>
{% endblock%}
{% block content %}
<div class="container">
    <div class="pokedex">
        {% for pokemon in allPokemon %}
        <div class="pokedex-entry-index">
            <a class="pokedex-img-link" href="/pokemon/{{forloop.index0}}"><img class="pokedex-img" src="{{pokemon.img}}" alt=""></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock%}