.container {
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
grid-row: 4;
grid-column: 5/4;
   
    border: 2px solid black;
    background-color: rgb(224, 237, 225);
   
}

body {
    justify-content: center;

}

.img-style {
   
    height: 8em;
    width: 7em;
    border: 2px solid grey;
    border-radius: 10%;


}
p{
    font-size: 2er;
    justify-content: center;

}
div {
    margin: 5px;
}

.div {
    border: 2px solid grey;
    background-color: lightpink;
    border-radius: 5%;
    font-size: 20px;
}

h1 {
    color: rgb(134, 66, 148);
}

nav {
    
    
    margin:10px ;
    border-radius: 5%;
}
article {
    display: grid;
}