<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Pokemon</title>
  </head>
  <body>
    <h1>New Pokemon Entry</h1>

    <form action="/pokemon/{{ index }}?_method=PUT" method="POST">
      Name: <br /><input type="text" name="name" value="{{ pokemon.name }}" />
      <br /><br />Type:<br />
      <input type="text" name="type" value="{{ pokemon.type }}" />
      <br /><br />
      <input type="submit" name="" value="Submit Changes" />
    </form>
  </body>
</html>
