<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title></title>
        </head>
        <body>
            <h1>Edit Pokemon page</h1>
            <form action="/pokemon/{{thePokemon.id}}/update?_method=PUT" method="POST">
                New Name: <input type="text" name="name" value="{{thePokemon.name}}"/><br/>
                New Image URL: <input type="text" name="img" value="{{thePokemon.img}}"/><br/>
                New Type: <input type="text" name="type" type="{{thePokemon.type}}"/><br/>
                <input type="submit" value="Edit Done"/>
            </form>

        </body>
    </html>