<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="stylesheet.css">
            <title>Index</title>
        </head>
        <body>
            <div>
                <h1>Pokedex</h1>
                <a href="/pokemon/new"><button>Create New</button></a>
                <div>
                    <ul class="container">
                    {%for pokemon in allPokemon%}
                        <li>
                            <img src="{{pokemon.img}}" alt="Pokemon" width="200" height="250">
                            <h3>{{pokemon.name}}</h3>
                            <a href="/pokemon/{{pokemon.id}}/edit"><button>Edit</button></a>
                        </li>
                    {%endfor%}
                    </ul>
            </div>
        </body>
    </html>