<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="stylesheet.css">
            <title>Index</title>
        </head>
        <body style="text-align:center">
            <h1>Pokedex</h1>
                <a href="/new"><button>Create New</button></a>
            <div>
                <div class="container" style="display:grid; grid-template-columns: 200px 200px 200px 200px 200px; align-content:center; justify-content: center">
                    {%for pokemon in allPokemon%}
                            <a class="grid-item" href="/{{forloop.index0}}">
                            <img class="img-item"src="{{pokemon.img}}" alt="Picture of pokemon" width="200" height="225">
                            </a>  
                    {%endfor%}
            </div>
        </body>
    </html>