<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <a href="/pokemon/new"><button>Create a Pokemon</button></a>
    <h1>Pokedex</h1>
    {% for pokemon in data %}
    <a href="/{{ forloop.index0 }}"><img src="{{pokemon.img}}"></a>
    <a href="/{{ forloop.index0 }}">
        <h2>{{ pokemon.name }}</h2>
    </a>
    {% endfor %}
</body>

</html>