<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Pokemon Index</title>
</head>
<body>
    <h1>Pokedex</h1>
    <ul class="pokedex-entries">
        {% for pokemon in allPokemon %}
        <li>
            <div class="pokedex-entry-index">
                <a class="pokedex-img-link" href="/pokemon/{{forloop.index0}}"><img class="pokedex-img" src="{{pokemon.img}}" alt="{{pokemon.name}}"></a>
            </div>
        </li>
        {% endfor %}
    </ul>

</body>
</html>