<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="../css/app.css">    

</head>
<body>
   
    <nav>
    <a href="/pokemon">Home</a>
    </nav> 
    <h1>Pokedex</h1>
    <div class="grid-container">
       
        {% for pokemon in data %}
            <div class="grid-card">  
                <p>{{ pokemon.name }}</p> 
                <a href="/pokemon/{{ forloop.index0 }}">
                    <img src={{pokemon.img}} alt={{pokemon.name}}>
                </a>
            </div>
        {% endfor %}
        
    </div>

</body>
</html>