<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
 
<form action="/pokemon" method="POST"> 
    <input type="text" name="name"placeholder="name" />
    <input type="text" name="img" placeholder="Please Use an img URL" />
    <input type="text" name="hp" placeholder="HP" />
    <input type="text" name="attack"placeholder="attack"  />
    <input type="text" name="defense" placeholder="Defense" />
    <input type="text" name="spattack" placeholder="spattack" />
    <input type="text" name="speed" placeholder="speeed" />
    <input type="text" name="type" placeholder="type"  />
    <input type="submit" value="Submit">
</form>
</body>
</html>