<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pokemon</title>
    <link rel="stylesheet" href="../css/app.css">    
</head>
<body>
    <nav>

        <a href="/pokemon">Home</a>
    
    </nav> 

    <form action="/pokemon" method="POST">
        Name: <input type="text" name="name" required /><br/>
        ImageUrl: <input type="url" name="img" placeholder="https://img.pokemondb.nex/artwork/..."
            pattern="https://.*"/><br/>
        {% comment %} TODO: {% endcomment %}
        <h3>Types:</h3>
        {% for type in types %} 
        {{type}}: <input type="checkbox" name="{{type}}" /><br/>
        {% endfor %}
        <h3>Stats:</h3>
            Stats hp: <input type="number" name="hp"  /><br />
            Stats attack: <input type="number" name="attack" /><br /> 
            Stats defense: <input type="number" name="defense" /><br /> 
            Stats spattack: <input type="number" name="spattack"  /><br /> 
            Stats spdefense: <input type="number" name="spdefense"  /><br /> 
            Stats speed: <input type="number" name="speed" /><br /> 
        <input type="submit" value="Create Pokemon"/>
    </form>
    
</body>
</html>