nav {
  display: block;
}

img {
  width: 200px;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 200px);
  grid-row-gap: 25px;
  grid-column-gap: 25px;
}
.grid-card {
  width: 200px;
  justify-content: center;
}

p {
  display: inline;
}
